@model OnlineLibrary.DataLayer.Entities.Author
<div class="card">
    <div class="card-header">
        <img src="/images/@Model.PhotoPath" width="10%" />
@*         <img src="/images/Kadare.jpg" width="10%" /> *@
        <h6>@Model.FullName</h6>
    </div>
    <div class="card-body">
        <h7>
            @Model.Description
        </h7>
        <br />
        <a asp-action="Update" asp-route-id="@Model.Id">Update</a>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>

<style scoped>
    img
    {
        min-height : 200px;
        min-width : 200px;
    }

    .card
    {
        max-width : 500px;
        max-height : 500px;
        margin : auto;
    }
</style>
